In [33]:
print("Hello")

Hello

In [34]:
print("World"+5)

TypeError: can only concatenate str (not "int") to str

In [35]:
z=input("Enter a number: ")
print(z+5)
print(int(z)+5)

TypeError: can only concatenate str (not "int") to str

In [36]:
z=input("Enter a number: ")
print(type(z))
# print(z+5)
print(int(z)+5)

<class 'str'>
7

In [37]:
z=input("Enter a number: ")
# print(z+5)
print(int(z)+5)

7

In [38]:
x=4
print(x)
print(type(x))
x="Hello"

print(type(x))

4
<class 'int'>
<class 'str'>

In [39]:
A=1
a="1"
print(type(a))
print(a)
print(type(A))
print(A)

<class 'str'>
1
<class 'int'>
1

In [40]:
x=3
print(x>3)

False

In [41]:
x=3
print(x==3)
print(x!=3)
print(x>3)
print(x<3)
print(x>=3)
print(x<=3)

True
False
False
False
True
True

In [42]:
list1=[1,2,3,4,5]
print(3 in list1)
print(3 not in list1)

True
False

In [43]:
tuple1=(1,2,3,4,5)
print(3 in tuple1)
print(6 not in tuple1)

True
True

In [44]:
x,y=list1

ValueError: too many values to unpack (expected 2)

In [45]:
list2=[1,2,3]
x,y,z=list2
print(x)
print(y)
print(z)

1
2
3

In [46]:
x=9.08835333333335375832
print(x)
print(type(x))

9.088353333333353
<class 'float'>

In [47]:
x=90
print(f"I have scored {x} marks in the exam.")

I have scored 90 marks in the exam.

In [48]:
x="""hi there
how are you
doing today?
"""
print(x)

hi there
how are you
doing today?

In [49]:
print("Hi 'there' How are you?Doing today?")
print('Hi "there" How are you?Doing today?')

Hi 'there' How are you?Doing today?
Hi "there" How are you?Doing today?

In [74]:
list1 = [5, 2, 9, 1, 5, 6]
list1.sort()
print("After sort (ascending):", list1)

list1.reverse()
print("After reverse (descending):", list1)

original = [1, 2, 3, 71, 4, 5]
print("Sorted (new list):", sorted(original))
print("Reversed (new list):", list(reversed(original)))

After sort (ascending): [1, 2, 5, 5, 6, 9]
After reverse (descending): [9, 6, 5, 5, 2, 1]
Sorted (new list): [1, 2, 3, 4, 5, 71]
Reversed (new list): [5, 4, 71, 3, 2, 1]

In [93]:
z="12.50000000000000000004005000000000000000000000000000000000000000003"
print(type(z))
print(z)
y=float(z)
y=12.50000000000000000004005000000000000000000000000000000000000000003
print(f"Original number: {y}")
print(f"Rounded number: {round(y)}")
print(f"Rounded number (2 decimal places): {round(y, 2)}")
print(type(y))
print(y.__floor__())
print(y.__ceil__())
x=int(y)
print(f"Converted to integer: {x}")
print(f"Type of x: {type(x)}")

import numpy as np
y=np.float32(z)
print(f"Converted to float32: {y}")
print(f"Type of y: {type(y)}")
y=np.float64(z)
print(f"Converted to float64: {y}")
print(f"Original number: {y}")
print(f"Rounded number: {round(y)}")
print(f"Rounded number (2 decimal places): {round(y, 2)}")
print(type(y))
print(y.__floor__())
print(y.__ceil__())

<class 'str'>
12.50000000000000000004005000000000000000000000000000000000000000003
Original number: 12.5
Rounded number: 12
Rounded number (2 decimal places): 12.5
<class 'float'>
12
13
Converted to integer: 12
Type of x: <class 'int'>
Converted to float32: 12.5
Type of y: <class 'numpy.float32'>
Converted to float64: 12.5
Original number: 12.5
Rounded number: 12
Rounded number (2 decimal places): 12.5
<class 'numpy.float64'>
12
13

# ASSINGMENT LAB-1

In [53]:

print("="*70)
print("Q.1) Variables, Types, Delete, and Comparison")
print("="*70)


int_var = 42
float_var = 3.14
str_var = "Wildlife Detection"
bool_var = True
list_var = [1, 2, 3]
dict_var = {'arch': 'YOLO-HARVEST', 'year': 2025}


print("\nVariables and their values:")
print("int_var:", int_var)
print("float_var:", float_var)
print("str_var:", str_var)
print("bool_var:", bool_var)
print("list_var:", list_var)
print("dict_var:", dict_var)

print("\nTypes of variables:")
print("type(int_var):", type(int_var))
print("type(float_var):", type(float_var))
print("type(str_var):", type(str_var))
print("type(bool_var):", type(bool_var))
print("type(list_var):", type(list_var))
print("type(dict_var):", type(dict_var))


print("\nDeleting bool_var...")
del bool_var
print("bool_var has been deleted")


num1 = 7
num2 = 10
print("\nInteger comparison:")
print(f"num1 = {num1}")
print(f"num2 = {num2}")
print(f"num1 > num2: {num1 > num2}")
print(f"num1 < num2: {num1 < num2}")
print(f"num1 == num2: {num1 == num2}")

======================================================================
Q.1) Variables, Types, Delete, and Comparison
======================================================================

Variables and their values:
int_var: 42
float_var: 3.14
str_var: Wildlife Detection
bool_var: True
list_var: [1, 2, 3]
dict_var: {'arch': 'YOLO-HARVEST', 'year': 2025}

Types of variables:
type(int_var): <class 'int'>
type(float_var): <class 'float'>
type(str_var): <class 'str'>
type(bool_var): <class 'bool'>
type(list_var): <class 'list'>
type(dict_var): <class 'dict'>

Deleting bool_var...
bool_var has been deleted

Integer comparison:
num1 = 7
num2 = 10
num1 > num2: False
num1 < num2: True
num1 == num2: False

In [54]:

print("\n" + "="*70)
print("Q.2) Reverse a 3-digit number (using operators only)")
print("="*70)

num = 456
digit1 = num // 100
digit2 = (num // 10) % 10
digit3 = num % 10
reverse = digit3 * 100 + digit2 * 10 + digit1
print(f"Original number: {num}")
print(f"Reversed number: {reverse}")

======================================================================
Q.2) Reverse a 3-digit number (using operators only)
======================================================================
Original number: 456
Reversed number: 654

In [55]:
print("\n" + "="*70)
print("Q.3) Find biggest of two numbers (using operators only)")
print("="*70)

a = 25
b = 40
biggest = (a + b + abs(a - b)) // 2
print(f"Number 1: {a}")
print(f"Number 2: {b}")
print(f"Biggest number: {biggest}")

======================================================================
Q.3) Find biggest of two numbers (using operators only)
======================================================================
Number 1: 25
Number 2: 40
Biggest number: 40

In [64]:
print("\n" + "="*70)
print("Q.3a) Find smallest of two numbers (using operators only)")
print("="*70)

a = 25
b = 40
biggest = (a + b - abs(a - b)) // 2
print(f"Number 1: {a}")
print(f"Number 2: {b}")
print(f"Biggest number: {biggest}")

======================================================================
Q.3a) Find smallest of two numbers (using operators only)
======================================================================
Number 1: 25
Number 2: 40
Biggest number: 25

In [56]:

print("\n" + "="*70)
print("Q.4) Check element in set (using operator only)")
print("="*70)

my_set = {10, 20, 30, 40, 50}
element = 30
result = element in my_set
print(f"Set: {my_set}")
print(f"Element to check: {element}")
print(f"Is {element} in set? {result}")

======================================================================
Q.4) Check element in set (using operator only)
======================================================================
Set: {50, 20, 40, 10, 30}
Element to check: 30
Is 30 in set? True

In [57]:
print("\n" + "="*70)
print("Q.5) Distance between coordinates (using operators only)")
print("="*70)

x1, y1 = 3, 4
x2, y2 = 7, 1
distance = ((x2 - x1) ** 2 + (y2 - y1) ** 2) ** 0.5
print(f"Point 1: ({x1}, {y1})")
print(f"Point 2: ({x2}, {y2})")
print(f"Distance: {distance}")

======================================================================
Q.5) Distance between coordinates (using operators only)
======================================================================
Point 1: (3, 4)
Point 2: (7, 1)
Distance: 5.0

In [58]:
print("\n" + "="*70)
print("Q.6) Replace substring in a string")
print("="*70)

original_string = "Hello World"
new_string = original_string.replace("World", "Python")
print(f"Original string: {original_string}")
print(f"New string: {new_string}")

======================================================================
Q.6) Replace substring in a string
======================================================================
Original string: Hello World
New string: Hello Python

In [59]:
print("\n" + "="*70)
print("Q.7) Show first 5 characters from string")
print("="*70)

text = "Machine Learning"
first_5 = text[:5]
print(f"Original string: {text}")
print(f"First 5 characters: {first_5}")

======================================================================
Q.7) Show first 5 characters from string
======================================================================
Original string: Machine Learning
First 5 characters: Machi

In [60]:
print("\n" + "="*70)
print("Q.8) Show characters from string by range")
print("="*70)

text = "Computer Vision"
range_chars = text[3:11]
print(f"Original string: {text}")
print(f"Characters from index 3 to 10: {range_chars}")

======================================================================
Q.8) Show characters from string by range
======================================================================
Original string: Computer Vision
Characters from index 3 to 10: puter Vi

In [66]:
print("\n" + "="*70)
print("Q.9) Display string in reverse order")
print("="*70)

text = "YOLO-HARVEST"
reversed_text = text[::-1]

print(f"Original string: {text}")
print(f"Reversed string: {reversed_text}")

======================================================================
Q.9) Display string in reverse order
======================================================================
Original string: YOLO-HARVEST
Reversed string: TSEVRAH-OLOY

In [69]:
print("\n" + "="*70)
print("Q.10) Capitalize first letter of each word")
print("="*70)

text = "deep learning and neural networks"
title_case = text.title()
Capitalized = text.upper()
print(f"Original string: {text}")
print(f"Title case string: {title_case}")
print(f"Capitalized string: {Capitalized}")

======================================================================
Q.10) Capitalize first letter of each word
======================================================================
Original string: deep learning and neural networks
Title case string: Deep Learning And Neural Networks
Capitalized string: DEEP LEARNING AND NEURAL NETWORKS

In [ ]:
print("="*70)
print("Q.11) Check palindrome (3-digit number, no loop)")
print("="*70)

num = 121
digit1 = num // 100
digit2 = (num // 10) % 10
digit3 = num % 10
is_palindrome = (digit1 == digit3)
print(f"Number: {num}")
print(f"Is palindrome? {is_palindrome}")


num2 = 456
digit1_2 = num2 // 100
digit3_2 = num2 % 10
is_palindrome2 = (digit1_2 == digit3_2)
print(f"\nNumber: {num2}")
print(f"Is palindrome? {is_palindrome2}")

======================================================================
Q.11) Check palindrome (3-digit number, no loop)
======================================================================
Number: 121
Is palindrome? True

Number: 456
Is palindrome? False