In [14]:
# Create a set and add elements
my_set=set(list(map(int,input("Enter the elements for the List:- ").split())))
#my_set = {1, 2, 3, 4, 5}
print("Initial set:", my_set)

# Add new elements
my_set.add(6)
my_set.add(7)
print("After adding elements:", my_set)

# Add repeating elements (won't be added as sets contain unique elements)
my_set.add(3)
my_set.add(5)
print("After adding repeating elements:", my_set)

# Create another set
second_set = {4, 5, 6, 7, 8, 9}
print("\nSecond set:", second_set)

# Set operations
print("\nUnion:", my_set | second_set)
print("Intersection:", my_set & second_set)
print("Difference (set1 - set2):", my_set - second_set)
print("Difference (set2 - set1):", second_set - my_set)

Enter the elements for the List1 2 3 4 5 6
Initial set: {1, 2, 3, 4, 5, 6}
After adding elements: {1, 2, 3, 4, 5, 6, 7}
After adding repeating elements: {1, 2, 3, 4, 5, 6, 7}

Second set: {4, 5, 6, 7, 8, 9}

Union: {1, 2, 3, 4, 5, 6, 7, 8, 9}
Intersection: {4, 5, 6, 7}
Difference (set1 - set2): {1, 2, 3}
Difference (set2 - set1): {8, 9}

In [4]:
# Check if a set is subset of another
set1 = set(list(map(int,input("Enter the elements for the Set 1:- ").split())))
set2 = set(list(map(int,input("Enter the elements for the Set 2:- ").split())))

if set1.issubset(set2):
    print(f"{set1} is a subset of {set2}")
else:
    print(f"{set1} is NOT a subset of {set2}")

{1, 2, 3} is a subset of {1, 2, 3, 4, 5, 6}
{8, 9, 7} is NOT a subset of {1, 2, 3, 4, 5, 6}

In [15]:
# Get common elements and raise them to power 2
def common_elements_squared(set1, set2):
    common = set1 & set2
    result = {x**2 for x in common}
    return result

set_a = set(list(map(int,input("Enter the elements for the Set 1:- ").split())))
set_b = set(list(map(int,input("Enter the elements for the Set 2:- ").split())))

result_set = common_elements_squared(set_a, set_b)
print(f"Set A: {set_a}")
print(f"Set B: {set_b}")
print(f"Common elements squared: {result_set}")

Enter the elements for the Set 1:- 1 2 3 4 5 6
Enter the elements for the Set 2:- 6 5 4 3 2 1
Set A: {1, 2, 3, 4, 5, 6}
Set B: {1, 2, 3, 4, 5, 6}
Common elements squared: {1, 4, 36, 9, 16, 25}

In [6]:
# Create an immutable set (frozenset)
immutable_set = frozenset([1, 2, 3, 4, 5])

print("Immutable set elements using iterator:")
for element in immutable_set:
    print(element, end=" ")
print()

# Add new element (creates a new frozenset)
new_element = 6
updated_set = immutable_set | frozenset([new_element])

print(f"\nOriginal immutable set: {immutable_set}")
print(f"Updated immutable set: {updated_set}")

Immutable set elements using iterator:
1 2 3 4 5

Original immutable set: frozenset({1, 2, 3, 4, 5})
Updated immutable set: frozenset({1, 2, 3, 4, 5, 6})

In [16]:
# Create dictionary with key-value pairs
student_dict = {
    "name": "John",
    "age": 20,
    "course": "Computer Science",
    "grade": "A"
}

# Fetch value by key
print("Student Name:", student_dict["name"])
print("Student Age:", student_dict.get("age"))

# Create empty dictionary and add key-value pairs
empty_dict = {}
empty_dict["city"] = "New York"
empty_dict["country"] = "USA"
empty_dict["zipcode"] = "10001"
print("\nEmpty dictionary after adding elements:", empty_dict)


# Method 2: Using | operator (Python 3.9+)
merged_dict2 = student_dict | empty_dict
print("Merged dictionary (using |):", merged_dict2)

Student Name: John
Student Age: 20

Empty dictionary after adding elements: {'city': 'New York', 'country': 'USA', 'zipcode': '10001'}
Merged dictionary (using |): {'name': 'John', 'age': 20, 'course': 'Computer Science', 'grade': 'A', 'city': 'New York', 'country': 'USA', 'zipcode': '10001'}

In [17]:
# Sort dictionary by key
my_dict = {"zebra": 5, "apple": 2, "mango": 8, "banana": 3}
print("Original dictionary:", my_dict)

# Sort by key
sorted_dict = dict(sorted(my_dict.items()))
print("Sorted dictionary by key:", sorted_dict)

# Remove a specific key
key_to_remove = "mango"
if key_to_remove in sorted_dict:
    del sorted_dict[key_to_remove]
    print(f"Dictionary after removing '{key_to_remove}':", sorted_dict)

Original dictionary: {'zebra': 5, 'apple': 2, 'mango': 8, 'banana': 3}
Sorted dictionary by key: {'apple': 2, 'banana': 3, 'mango': 8, 'zebra': 5}
Dictionary after removing 'mango': {'apple': 2, 'banana': 3, 'zebra': 5}

Removed value: 20
Updated dictionary: {'x': 10, 'z': 30}

In [18]:
# Count word frequency
def word_frequency(word_list):
    freq_dict = {}
    for word in word_list:
        if word in freq_dict:
            freq_dict[word] += 1
        else:
            freq_dict[word] = 1
    return freq_dict

# Test the function
words = ["apple", "banana", "apple", "orange", "banana", "apple", "grape"]
frequency = word_frequency(words)
print("Word frequency:", frequency)

Word frequency: {'apple': 3, 'banana': 2, 'orange': 1, 'grape': 1}

In [10]:
# Calculate factorial using user-defined function
def factorial(n):
    if n < 0:
        return "Factorial not defined for negative numbers"
    elif n == 0 or n == 1:
        return 1
    else:
        result = 1
        for i in range(2, n + 1):
            result *= i
        return result

# Test the function
num = int(input("Enter a number to find factorial: "))
print(f"Factorial of {num} is: {factorial(num)}")

Enter a number to find factorial: 12
Factorial of 12 is: 479001600

In [11]:
# Recursive function to find sum of list elements
def recursive_sum(numbers, index=0):
    if index == len(numbers):
        return 0
    return numbers[index] + recursive_sum(numbers, index + 1)
# Test the function
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(f"List: {num_list}")
print(f"Sum using recursion: {recursive_sum(num_list)}")

List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Sum using recursion: 55
Sum using recursion (v2): 55

In [12]:
# Calculate square and cube of numbers in a list
def calculate_square_cube(numbers):
    squares = []
    cubes = []

    for num in numbers:
        squares.append(num ** 2)
        cubes.append(num ** 3)

    return squares, cubes

# Test the function
num_list = set(list(map(int,input("Enter the elements for the Set 1:- ").split())))
squares, cubes = calculate_square_cube(num_list)

print(f"Original list: {num_list}")
print(f"Squares: {squares}")
print(f"Cubes: {cubes}")

Original list: [1, 2, 3, 4, 5]
Squares: [1, 4, 9, 16, 25]
Cubes: [1, 8, 27, 64, 125]

Powers dictionary:
1: Square = 1, Cube = 1
2: Square = 4, Cube = 8
3: Square = 9, Cube = 27
4: Square = 16, Cube = 64
5: Square = 25, Cube = 125

In [19]:
# Sort list using lambda function
numbers = list(map(int,input("Enter the elements for the Set 1:- ").split()))
print("Original list:", numbers)

# Sort in ascending order
sorted_asc = sorted(numbers, key=lambda x: x)
print("Sorted (ascending):", sorted_asc)

Enter the elements for the Set 1:- 1 2 5 8 5 2 6 0
Original list: {0, 1, 2, 5, 6, 8}
Sorted (ascending): [0, 1, 2, 5, 6, 8]